/* Add a black background color to the top navigation */



@media screen and (max-width: 600px) {
    .search-container {
        float: none;
        
    }
}


    input[type=text] {
        float: none;
        display: inline;
        text-align: left;
        width: 20%;
        margin: 0;
        padding: 10px;
         border: 1px solid #f2f2f2;
    }

    .search-container button{
       margin-top: 5px;
       color: white;
       background: #000080;
       font-weight: bold;
       height: 30px;
       width: 10%;
       margin-left: 1%;
    }
    
    
    * button:hover{
        opacity: 0.7;
    }

    
/* Columns */
* {
    box-sizing: border-box;
}


.slogan{
    height: 50px;
    background-color: #000080;
    color: white;
    font-size: 25px;
    margin-bottom: 1px;
    font-family: Verdana;
}



/* Create three equal columns that floats next to each other */
.column {
    margin: 10px;
    float: left;
    width: 30%;
    padding: 10px;
    background: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Columns */
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column2 {
    margin: 10px;
    float: left;
    width: 22.5%;
    padding: 10px;
}


.column button{
    height: 30px;
}

.column2 button{
    height: 20px;
}


.column2 button, .column button{
    width: 90%;
    margin: 0px 10px;
    margin-top: 10px;
     background: #000080;
    color: white;
    font-weight: bold;
    
}

.column button:hover, .column2 button:hover{
   opacity: .7;
}


/* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        
    }
}

/* Image slideshow */
* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: #f2f2f2;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

body{
    font-family: 'Roboto', sans-serif;
}

.search-text{
    margin-top:2500px;
    background-color: #272d33;
    padding-top:60px;
    padding-bottom:60px;
}

.search-text .input-search{
    height:45px;
    width:40%;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
    background-color: #33383c;
    padding:30px 0px;
}

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding:10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}
